<ion-tabs>

  <ion-tab-bar slot="bottom" class="glass-tab-bar">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="metrics" href="/tabs/metrics">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Métricas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seguimiento" href="/tabs/seguimiento">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>360</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
